{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block content %}
<h1>About Us - Gaming Company</h1>
<p>Welcome to our startup gaming company! We are passionate about creating exciting and immersive gaming experiences for
    players of all ages.</p>
<p>Our mission is to bring joy and excitement to people's lives through innovative and entertaining games. Whether
    you're a casual gamer or a hardcore enthusiast, we have something special for you.</p>
<p>Stay tuned for upcoming game releases and join us on this thrilling journey!</p>
<p class="important">
    Welcome to my awesome homepage.
    {% endblock %}